.main-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh; 
}

.side-bar {
  background-color: #3e3d96;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.accentFontColor{
  color: #12af6e!important;
  font-weight: bold;
}
h1{
  color: #282f77;
}

@media only screen and (min-width: 768px) {
  .main-container{
    flex-direction: row;
  }
}