.dateButtons{
    color: gray;
    font-weight: bold;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;    
}
.dateButtons:hover{
    color: #282f77;
}
a{
    text-decoration: none;
}

.reservationRow:hover{
    background-color: lightgrey
}